#sticky-sidebar {
  height: 100%;
}
.navbar-nav {
  margin-left: 75%;
}
.card {
  margin-top: 20px;
  margin-left: 60px;
}
.status {
  font-weight: bold;
  color: green;
}
.card-text {
  margin-top: 1rem;
}
.links {
  margin-top: 1.5rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  padding: 1rem;
}
.events {
  margin-top: 1.5rem;
  margin-left: 80%;
  font-weight: bold;
}
